:root {
  --background-color: #060D0D;
  --title-font-size: 1.875rem;
  --default-letter-spacing: 0.15rem;
  --title-letter-spacing: 0.25rem;
  --menu-font-size: 0.938rem;
  --pallete-white-color: #FAFAFA;
  --pallete-brown-color: #805A40;
  --pallete-gold-color: #A57D02;
  --design-line-color: rgb(250, 250, 250, 0.2);
}

@keyframes lighten {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: var(--default-letter-spacing);
  font-weight: 100;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  height: 2px;
  }
::-webkit-scrollbar-thumb {
  background: var(--design-line-color);
}

  
html,
body {
  width: 100vw;
  max-width: 100vw;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  /* overflow-x: hidden; */
}

body > main {
  animation: lighten 1s linear;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Color for active menu item */
.active {
  color: var(--pallete-gold-color);
}