:root {
  --background-color: #060D0D;
  --title-font-size: 1.875rem;
  --default-letter-spacing: 0.15rem;
  --title-letter-spacing: 0.25rem;
  --menu-font-size: 0.938rem;
  --pallete-white-color: #FAFAFA;
  --pallete-brown-color: #805A40;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: var(--default-letter-spacing);
  font-weight: 100;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* Color for active menu item */
.active {
  color: #A57D02;
}